<div class="form-container" *ngIf="!(user$ | async)">
  <h1>Sign in</h1>

  <p *ngIf="error$ | async" class="error">{{ error$.value }}</p>
  <label for="Login">Your email:</label>
  <input type="email" #emailSignIn required id="Login" />
  <label for="Login">Your password:</label>
  <input type="password" #passwordSignIn required id="Password" />
  <button (click)="onSignIn(emailSignIn.value, passwordSignIn.value)">
    Login
  </button>
  <br />
  <label for="regist-button">If you are not registered </label>
  <button id="regist-button" routerLink="/registration">Registration</button>
</div>
