.scroll-wrapper {
  display: flex;
  top: 0;
  left: 0;
  max-width: 80vw;
  min-width: 480px;
  overflow-y: hidden;
  overflow-x: auto;
  margin-bottom: 10px;
}

.scroll-wrapper-tasks {
  display: block;
  max-height: 90%;
  width: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.tasks-container {
  display: block;
  position: relative;
  height: 60vh;
  padding: 3vh 3vw;
  font-size: 14pt;
  max-width: 900px;
  min-width: 420px;
  margin: 0 20px;
}

.add-btn {
  position: absolute;
  bottom: 3vh;
  left: 3vw;
}

.btn {
  cursor: pointer;
}
.btn:hover {
  opacity: 0.7;
}

.red-font {
  color: red;
}

input:checked + span {
  text-decoration: line-through;
}
