<div class="scroll-wrapper" #scrollWrapperRef>
  <calendar-day
    *ngFor="let day of days; trackBy: trackByObject"
    [day]="day"
    [currentDay]="currentDay"
    (onClick)="showTasks($event)"
  ></calendar-day>
</div>

<div class="glass-window tasks-container">
  <div
    *ngIf="(user$ | async)?.email; else notAuthTemplate"
    class="scroll-wrapper-tasks"
  >
    <div *ngFor="let task of currentTasks | keyvalue; trackBy: trackByObject">
      <input
        type="checkbox"
        [checked]="task.value.status"
        (change)="changeStatus(task.key, task.value)"
      />
      <span> {{ task.value.name }} </span>
      <span class="btn red-font" (click)="deleteTask(task.key)">
        &#10060;
      </span>
      <span class="btn" [routerLink]="['taskManager', task.key]">
        &#9998;
      </span>
      <p>{{ task.value.description }}</p>
    </div>
    <a class="add-btn" [routerLink]="['taskManager', '']">
      &#10010; Add new task
    </a>
  </div>

  <ng-template #notAuthTemplate>
    <p>You are not authorized &#9785;</p>
    <p>Sign in or Sign up to use full features! &#10004;</p>
  </ng-template>
</div>
