<div class="form-container" *ngIf="!(user$ | async)" >
    <h1>Registration</h1>
  
    <p *ngIf="error$ | async" class="error">{{ error$.value }}</p>
    <label for="Login">Your email:</label>
    <input type="email" #emailSignUp required id="Login" />
    <label for="Password">Your password:</label>
    <input type="password" #passwordSignUp required id="Password" />
    <label for="Password2">Confirm password:</label>
    <input type="password" #passwordSignUp2 required id="Password2" />
    <button (click)="onSignUp(emailSignUp.value, passwordSignUp.value,passwordSignUp2.value)">  
        register
    </button>
  </div>
  